:host{
  width: 100%;
  .search-box{
    input {
      width: 100%;
      padding: 10px;
      font-size: 1.1em;
      outline: none;
      border-radius: 3px;
      border: none;
    }
  }
  .result-container{
    .item{
      background-color: blanchedalmond;
      padding: 5px 0 5px 10px;
    }
  }
}

