$aside-border-radius: 10px;
$host-background: #5b5c5a;
$search-left-padding: 10px;
:host {
  display: block;
  background-color: $host-background;
  width: 300px;
  padding: 10px;
  overflow-y: auto;

  .search {
    border: none;
    padding: 5px 0 5px 10px;
    width: calc(100% - 10px);
    margin: 3px auto;
    background-color: #707070;
    color: white;
    &::placeholder {
      color: #9f9d9d;
    }
  }

  .point {
    padding: 5px 0 5px 10px;
    border-radius: 3px;
    margin: 3px auto;
    background-color: blanchedalmond;
    cursor: pointer;
  }

}

