:host {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 150px;
  background-color: whitesmoke;

  .buttons {
    margin-top: 10px;
    align-self:flex-end;
    button {
      cursor: pointer;
      margin-left: 10px;
      border: none;
      outline: none;
    }
  }
}
