@import '~normalize.css';

html, body {
  height: 100%;
  font-family: proxima-regular, serif;
  font-size: 1em;
}

@font-face {
  font-family: 'proxima-regular';
  src: url('assets/fonts/proxima_nova-alt-regular.ttf');
}

@font-face {
  font-family: 'proxima-semibold';
  src: url('assets/fonts/proxima_nova-semibold.ttf');
}

@font-face {
  font-family: 'proxima-bold';
  src: url('assets/fonts/proxima_nova-alt-bold.ttf');
}

.error-message {
  text-align: center;
  padding-top: 3px;
  letter-spacing: 1px;
  color: red;
  font-size: .7em;
  font-family: proxima-semibold, serif;
}

.invalid {
  border-bottom: 1px solid red !important;
}
